<p>
    <mat-toolbar color="primary">
        <span>Catalogo</span>
        <span class="example-spacer"></span>

        <button mat-icon-button class="example-icon shopping-cart" (click)="openCarro()">
            <mat-icon>shopping_cart</mat-icon>
        </button>

    </mat-toolbar>
</p>
<mat-divider></mat-divider>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Marca</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <section class="example-section">
                    <span class="example-list-section">
                        <mat-checkbox class="example-margin" [checked]="allComplete" [color]="task.color"
                            [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                            {{task.name}}
                        </mat-checkbox>
                    </span>
                    <span class="example-list-section">
                        <ul>
                            <li *ngFor="let subtask of task.subtasks">
                                <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color"
                                    (ngModelChange)="updateAllComplete()">
                                    {{subtask.name}}
                                </mat-checkbox>
                            </li>
                        </ul>
                    </span>
                </section>
            </mat-card-content>
        </mat-card>
    </mat-drawer>
    <mat-drawer-content>
        <mat-grid-list cols="4" rowHeight="2:1">
            <div *ngFor="let product of productsFiltered">
                <mat-grid-tile>
                    <mat-card class="example-card">
                        <mat-card-content>
                            <img mat-card-md-image src="http://{{product.image}}" alt="{{product.description}}">
                            <p>
                                <strong>Descripción:</strong> {{product.description}}
                            </p>
                            <p>
                                <strong>Marca:</strong> {{product.brand}}
                            </p>
                            <p>
                                <strong>Valor:</strong> {{product.price}}
                            </p>
                            <p *ngIf="hasDiscount(product)">Por la compra de este producto obten un descuento de
                                product.discount.discount pesos</p>
                            <button mat-button (click)="addToCarro(product)">
                                <mat-icon>add_shopping_cart</mat-icon> Agregar al Carro
                            </button>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </mat-drawer-content>
</mat-drawer-container>